{% extends 'base.html' %}

{% block nav_create %}active{% endblock %}

{% block body %}

</br>

<form>

    <div class="row mb-3" style="display: flex; width:-webkit-fill-available;">
        <!-- TODO this should be a form text field -->
        <h2 class='col-10'> <input style='width: inherit; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; vertical-align: -webkit-baseline-middle; border: 0px;
                                border-bottom: 2px solid lightgrey' value='My Information Delivery Specification'></input></h2>

        <a href="#" class="dropdown-toggle btn btn-outline-success col-2" style="height:fit-content; width: auto;
        margin: 10px;" data-bs-toggle="dropdown"><i class="bi bi-file-earmark-arrow-down nav-ico
            "></i>Download IDS</a>
        <ul class="dropdown-menu text-small shadow" style="width:fit-content">
            <!-- aria-labelledby="dropdownNavLink" -->
            <li><a class="dropdown-item" href="#">Download IDS.xml</a></li> <!-- aria-current="page" -->
            <li><a class="dropdown-item disabled" href="#">Download .DOC</a></li> <!-- aria-current="page" -->
            <li><a class="dropdown-item disabled" href="#">Download .PDF</a></li> <!-- aria-current="page" -->
        </ul>

    </div>

</form>
</br>

<!-- TODO form should be one for all, currently small forms for each specifications. -->

{% if ids|length < 1 %} <h4>There are no specifications. Create one below!</h4>

    {% else %}

    {% for spec in ids %}

    <div class="accordion" id="accordion{{ loop.index }}" style='padding:5px'>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ loop.index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ loop.index }}">
                    <!-- aria-expanded="false" aria-controls="collapse{{ loop.index }}" -->
                    {{ loop.index }}.
                    <u><input type="text" style='width: 900px; margin-left: 10px; border: 0px;
                                border-bottom: 1px solid lightgrey;' value="{{ spec.name }}"></u>
                    <!-- class="form-control"  -->
                    <a href="/duplicate/{{spec.id}}" data-toggle="tooltip" data-placement="bottom"
                        title="Duplicate the specification" style="padding-left: 16px; padding-right: 8px;">
                        <i class="bi bi-files" style="color:black"></i>
                    </a>
                    <a href="/delete/{{spec.id}}" data-toggle="tooltip" data-placement="bottom"
                        title="Delete the specification" style="padding-left: 8px;">
                        <i class="bi bi-trash nav-ico" style="color:black"></i>
                    </a>
                </button>
            </h2>
            <div id="collapse{{ loop.index }}" class="accordion-collapse collapse in"
                data-bs-parent="#accordion{{ loop.index }}">
                <!-- aria-labelledby="heading{{ loop.index }}" -->
                <div class="accordion-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-md-auto ids-group">
                                        <div class="input-group input-group-sm ids-requirement">
                                            <span class="input-group-text">All elements</span>
                                        </div>
                                    </div>

                                    <div class="col-md-10 ids-group">
                                        {% for req in spec.applicability %}
                                        <div class="input-group input-group-sm ids-requirement">
                                            {% if req.type == 'entity' %}
                                            <span class="input-group-text">of entity</span>
                                            {% for entity in req.value %}
                                            <input type="text" class="form-control ids-req" list="IfcEntities" placeholder="Ifc..." value="{{ entity }}"
                                                autocomplete="on"> <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            {% endfor %}
                                            <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" data-placement="bottom"
                                                title="Add entity">
                                                <!-- <a href="/delete/{{spec.id}}"> -->
                                                <a href="/add_requirement/{{ spec.id }}.applicability.entity">
                                                    <i class="bi bi-plus ids-icon" style="color:black"></i>
                                                </a>
                                            </button>

                                            {% elif req.type == 'predefined' %}
                                            <span class="input-group-text">of predefined
                                                type</span>
                                            <input type="text" class="form-control ids-req" placeholder="Abc..." value="{{ req.value }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            {% elif req.type == 'material' %}
                                            <span class="input-group-text">of material</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.value }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            {% elif req.type == 'classification' %}
                                            <span class="input-group-text">of classification</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.value }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            <span class="input-group-text">from system</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.system }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            {% elif req.type == 'property' %}
                                            <span class="input-group-text">of property</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.property }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            <span class="input-group-text">from set</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.pset }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            <span class="input-group-text">of value</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.value }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            
                                            {% else %}
                                            The input is invalid and cannot be dissplayed. Not implemented TYPE:{{ req.type }}) VALUE:{{
                                            req.value }})
                                            
                                            {% endif %}
                                            
                                            <!-- delete requirement button -->
                                            <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" data-placement="bottom"
                                                title="Delete the requirement">
                                                <!-- <a href="/delete/{{spec.id}}"> -->
                                                <a href="/delete_requirement/{{ spec.id }}.{{ req.id }}.applicability.{{ req.type }}">
                                                    <i class="bi bi-trash" style="color:black"></i>
                                                </a>
                                            </button>
                                            </div>
                                            
                                            {% endfor %}

                                        <!-- '+' button to add more requirements -->
                                        <div class="input-group input-group-sm ids-requirement dropdown" style="width:50px" data-toggle="tooltip"
                                            data-placement="bottom" title="Add requirements...">
                                            <a href="#" class="dropdown-toggle input-group-text" data-bs-toggle="dropdown"
                                                style="color: black; text-decoration: none;">+</a>
                                            <ul class="dropdown-menu text-small shadow">
                                                <!--aria-labelledby="dropdownNavLink" -->
                                                <li><a class="dropdown-item" href="/add_requirement/{{ spec.id }}.applicability.entity">of
                                                        entity...</a></li> <!-- aria-current="page" -->
                                                <li><a class="dropdown-item" href="/add_requirement/{{ spec.id }}.applicability.predefined">of
                                                        predefined type...</a></li> <!-- aria-current="page" -->
                                                <li><a class="dropdown-item" href="/add_requirement/{{ spec.id }}.applicability.material">of
                                                        material...</a></li> <!-- aria-current="page" -->
                                                <li><a class="dropdown-item" href="/add_requirement/{{ spec.id }}.applicability.classification">of
                                                        classification...</a></li> <!-- aria-current="page" -->
                                                <li><a class="dropdown-item" href="/add_requirement/{{ spec.id }}.applicability.property">of
                                                        property...</a></li> <!-- aria-current="page" -->
                                            </ul>
                                            </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row">
                                            <div class="col-md-auto ids-group">
                                                <div class="input-group input-group-sm ids-requirement">
                                                    <span class="input-group-text">should have</span>
                                                </div>
                                                </div>

                                    <div class="col-md-10 ids-group">

                                        {% for req in spec.requirements %}
                                        <div class="input-group input-group-sm ids-requirement">
                                            {% if req.type == 'entity' %}
                                            <span class="input-group-text">an entity</span> IS NOT IMPLEMENTED
                                            <!-- <input type="text" class="form-control ids-req" list="IfcEntities" placeholder="Ifc..." value="{{ req.value }}"
                                                                                                                                                                                                                                                                                                                                                                                autocomplete="on">  -->
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            <!-- <input type="text" class="form-control" placeholder='TODO multiple'> -->
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            <!-- <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" data-placement="bottom" title="Add entity"> -->
                                            <!-- <a href="/delete/{{spec.id}}"> -->
                                            <!-- <a href="#"> -->
                                            <!-- <i class="bi bi-plus ids-icon" style="color:black"></i> -->
                                            <!-- </a> -->
                                            <!-- </button> -->

                                            {% elif req.type == 'predefined' %}
                                            <span class="input-group-text">a predefined
                                                type</span>
                                            <input type="text" class="form-control ids-req" placeholder="Abc..." value="{{ req.value }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            {% elif req.type == 'material' %}
                                            <span class="input-group-text">a material</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.value }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            {% elif req.type == 'classification' %}
                                            <span class="input-group-text">a classification</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.value }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            <span class="input-group-text">from system</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.system }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            {% elif req.type == 'property' %}
                                            <span class="input-group-text">a property</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.property }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            <span class="input-group-text">from set</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.pset }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            <span class="input-group-text">of value</span>
                                            <input type="text" class="form-control" placeholder="Abc..." value="{{ req.value }}">
                                            <!-- aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" -->
                                            
                                            {% else %}
                                            The input is invalid and cannot be dissplayed. Not implemented TYPE:{{ req.type }}) VALUE:{{
                                            req.value }})
                                            
                                            {% endif %}
                                            
                                            <!-- delete requirement button -->
                                            <button class="btn btn-outline-secondary" type="button" data-toggle="tooltip" data-placement="bottom"
                                                title="Delete the requirement">
                                                <!-- <a href="/delete/{{spec.id}}"> -->
                                                <a href="/delete_requirement/{{ spec.id }}.{{ req.id }}.requirements.{{ req.type }}">
                                                    <i class="bi bi-trash" style="color:black"></i>
                                                </a>
                                            </button>
                                            </div>
                                            
                                            {% endfor %}
                                        <!-- '+' button to add more requirements -->
                                        <div class="input-group input-group-sm ids-requirement dropdown" style="width:50px" data-toggle="tooltip"
                                            data-placement="bottom" title="Add requirement...">
                                            <a href="#" class="dropdown-toggle input-group-text" data-bs-toggle="dropdown"
                                                style="color: black; text-decoration: none;">+</a>
                                            <ul class="dropdown-menu text-small shadow">
                                                <!-- aria-labelledby="dropdownNavLink" -->
                                                <li><a class="dropdown-item disabled" href="#">an entity...</a></li> <!-- aria-current="page" -->
                                                <li><a class="dropdown-item" href="/add_requirement/{{ spec.id }}.requirements.predefined">a predefined type...</a>
                                                </li> <!-- aria-current="page" -->
                                                <li><a class="dropdown-item" href="/add_requirement/{{ spec.id }}.requirements.material">a material...</a></li>
                                                <!-- aria-current="page" -->
                                                <li><a class="dropdown-item" href="/add_requirement/{{ spec.id }}.requirements.classification">a
                                                        classification...</a></li> <!-- aria-current="page" -->
                                                <li><a class="dropdown-item" href="/add_requirement/{{ spec.id }}.requirements.property">a property...</a></li>
                                                <!-- aria-current="page" -->
                                            </ul>
                                            </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                                </form>
                                </div>
                                </div>
                                </div>
                                </div>

{% endfor %}
{% endif %}

<div class="input-group input-group ids-requirement dropdown" style="width:50px; padding:5px">
    <a href="#" class="dropdown-toggle input-group-text" data-bs-toggle="dropdown"
        style="color: black; text-decoration: none;">+</a>
    <ul class="dropdown-menu text-small shadow">
        <!-- aria-labelledby="dropdownNavLink" -->
        <li><a class="dropdown-item" href="/add_specification">New specification...</a></li>
        <!-- aria-current="page" -->
        <li><a class="dropdown-item disabled" href="#">Sample specification with a
                window</a></li> <!-- aria-current="page" -->
        <li><a class="dropdown-item disabled" href="#">SIMBA specififcations</a>
        </li> <!-- aria-current="page" -->
    </ul>
</div>

<datalist id="IfcEntities">
    <option value="IfcElement">
    <option value="IfcWall">
    <option value="IfcBeam">
    <option value="IfcBuilding">
    <option value="IfcBuildingElement">
    <option value="IfcBuildingStorey">
    <option value="IfcColumn">
    <option value="IfcDoor">
    <option value="IfcDuctFitting">
    <option value="IfcSite">
    <option value="IfcWindow">
    <option value="IfcRoof">
    <option value="IfcFurniture">
    <option value="IfcSlab">
    <option value="IfcSpace">
    <option value="IfcStair">
</datalist>

    <!-- <form action="/create" method="POST">
        <input type="int" name="id" id="id">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form> -->

<!-- 
        TEMP SCRIPT TO ENABLE AJAX FORM UPDATE WITHOUR RELOAD
        <script>
        $(document).ready(function () {
            $('.wrapper').on('click', '.get_result', function () {
                var val1 = $("#input_A").val();
                var val2 = $("#input_B").val();
                $.ajax({
                    url: "/calculate_result",
                    type: "get",
                    data: { val1: val1, val2: val2 },
                    success: function (response) {
                        $(".result").html('<p>' + response.result.toString() + '</p>');
                    },
                });
            });
        });
    </script> -->

    {% endblock %}